<% layout('partials/layout') %>
<h1>Create Account</h1>
<form method="post" action="/register" class="form">
	<label>Name
		<input type="text" name="name" value="<%= values.name || '' %>" required />
	</label>
	<label>Email
		<input type="email" name="email" value="<%= values.email || '' %>" required />
	</label>
	<label>Password
		<input type="password" name="password" required minlength="6" />
	</label>
	<% if (errors && errors.length) { %>
		<ul class="errors">
			<% errors.forEach(e => { %><li><%= e.msg %></li><% }) %>
		</ul>
	<% } %>
	<button class="btn" type="submit">Register</button>
</form>